.container {
    display: grid;
    height: 700px;
    gap: 20px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: space-evenly;
    align-content: center;
}